server:
  port: 8085

spring:
  application:
    name: camunda-nifi-test
  datasource:
    url: jdbc:h2:mem:camunda;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    generate-ddl: true
    properties:
      hibernate:
        hbm2ddl:
          auto: update
        format_sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

camunda.bpm:
  admin-user:
    id: demo
    password: demo
  filter:
    create: All tasks
  history-level: full
  metrics:
    db-reporter-activate: false
  database:
    schema-update: true

nifi:
  migration:
    old:
      base-url: ${NIFI_MIGRATION_OLD_BASE_URL:https://crm-nightly-new.connectplus.capillarytech.com/api}
    new:
      base-url: ${NIFI_MIGRATION_NEW_BASE_URL:https://crm-nightly-new.connectplus.capillarytech.com/api}
    auth:
      # Set this to the raw Base64 token only (no "Basic " prefix)
      basic: ${NIFI_MIGRATION_AUTH_BASIC:YXV0b21hdGlvbl91c2VyOks1MjFyITMzYQ==}
    source-header: ${NIFI_MIGRATION_SOURCE_HEADER:migration}
    flow-xml:
      sftp:
        host: ${NIFI_MIGRATION_FLOW_XML_SFTP_HOST:data.capillarydata.com}
        username: ${NIFI_MIGRATION_FLOW_XML_SFTP_USERNAME:capillary}
        password: ${NIFI_MIGRATION_FLOW_XML_SFTP_PASSWORD:captech123}
      remote-path: ${NIFI_MIGRATION_FLOW_XML_REMOTE_PATH:/Capillary testing/flow.xml/flow.xml}
      cache-dir: ${NIFI_MIGRATION_FLOW_XML_CACHE_DIR:./flow-cache}
      sensitive-key: ${NIFI_MIGRATION_FLOW_XML_SENSITIVE_KEY:}
    log-dir: ${NIFI_MIGRATION_LOG_DIR:./nifi-migration-logs}
    glue:
      block-definition-url: ${NIFI_MIGRATION_GLUE_BLOCK_DEFINITION_URL:https://crm-nightly-new.connectplus.capillarytech.com/api/blocks/{blockTypeId}/definition}
    neo-rule:
      base-url: ${NIFI_MIGRATION_NEO_RULE_BASE_URL:https://nightly.intouch.capillarytech.com/extensions/neo/api/v1/xto6x}
      application-id: ${NIFI_MIGRATION_NEO_APPLICATION_ID:174ea672-f42a-4dad-9335-7498c522bc7f}
      context: ${NIFI_MIGRATION_NEO_CONTEXT:connectplus}
      cookie: ${NIFI_MIGRATION_NEO_COOKIE:_ga=GA1.4.1183059349.1736404268; csrftoken=1SY44IQOKvaFe6pwBMfbcdJMS1wZqlWN; CS=95eb0a3ba5c4570b5e468670fdb3a2f7; CC=ULjmTbTJwgkSc1uMGRHPl7-1f-xeWolbJtEpFaBpKzkipT9hIdx1ayEdL5bM0aV3; CCEXP=1771474932; federated_id_token=eyJraWQiOiJDOXBWZ1dSV3hOcV9oZk5sZmMtVXBuVkhnVE9xTGs3UkpJd3NRaTJXUllrIiwiYWxnIjoiUlMyNTYifQ.eyJzdWIiOiIwMHVnczVydHAweWJQckNzOTR4NyIsIm5hbWUiOiJWaXNoYWwgR2FyZyIsInZlciI6MSwiaXNzIjoiaHR0cHM6Ly9jYXBpbGxhcnkub2t0YS5jb20vb2F1dGgyL2RlZmF1bHQiLCJhdWQiOiIwb2ExN3F2MjEyWm5RSHU5WDR4NyIsImlhdCI6MTc3MTM4ODUzMiwiZXhwIjoxNzcxMzkyMTMyLCJqdGkiOiJJRC5pNUszMkNFM2JEVE15ZUxhM2U4eFBVTWduSjg0V0o3T3B2LUdsalQySjZNIiwiYW1yIjpbInB3ZCJdLCJpZHAiOiIwb2FxODJ6MTE5dG1SYnpONjR4NyIsInByZWZlcnJlZF91c2VybmFtZSI6InZpc2hhbC5nYXJnQGNhcGlsbGFyeXRlY2guY29tIiwiYXV0aF90aW1lIjoxNzcxMzg4NTMxLCJhdF9oYXNoIjoibEdCb203MTJCWmFva0l2aTJhMTBrdyJ9.Dsk6jDPY0_Tm7SNJT3fdB7pbr1AnHRFDM-RofvzGI4Zmwe2cANh7POLNh54bmFXSjVqVZNmSUew4AKaP9xUsF2qk8Y-kAKLfg17bNBTsB2ES2OGVRMQCUcZ0GBR_oi1HtC09YqK8EYJbuCRdGx33yC9qjyOCrecRx3t3RjArDR0zTGeOSua255z6htsdGX6lTb6cNh2Vo9hMtUSAnaPeC6ndJuNWZ8CK7zyUBU4qG69HsH6TychLSzaOEbHqoUHVqrXCdac-KektfBSnlwF6_B9wDu5ecBioNPqqlSS2I6rGzz0YTExjRPHjeH8hr1WcvtE1JM6pjHst4zkyxg9D5g; CT=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpZCI6WyIyODYyNzEiXSwib3JnSUQiOjAsImV4cCI6MTc3MTQ3NDkzMywiaWF0IjoxNzcxMzg4NTMzLCJpc3MiOiJjYXBpbGxhcnl0ZWNoLmNvbSIsImF1ZCI6ImNhcGlsbGFyeSxpbnRvdWNoLGFyeWEscmVvbixhcHBzIiwic291cmNlIjoiV0VCQVBQIiwicmVmZXJlbmNlSUQiOiI1MDc3MTM4NCJ9.KCuMujFJqvEujmGietqtuIJnwq6uWQXG32PSNjySgSI; userPreferenceSelected=50771384_RCID; OID=1115}
      remote-user: ${NIFI_MIGRATION_NEO_REMOTE_USER:50771384}
    string:
      encryptor:
        algorithm: ${NIFI_MIGRATION_STRING_ENCRYPTOR_ALGORITHM:PBEWITHMD5AND256BITAES-CBC-OPENSSL}
        provider: ${NIFI_MIGRATION_STRING_ENCRYPTOR_PROVIDER:BC}
        key: ${NIFI_MIGRATION_STRING_ENCRYPTOR_KEY:nififtw!}

logging:
  level:
    com.emigran: INFO
